.errors ng-messages="errorReference"
  p.help-block ng-message="required"
    | Required!
  p.help-block ng-message="min"
    | Provide number >= 1
  p.help-block ng-message="max"
    | Provide number <= 99
