input.operation required="" ng-disabled="form.$invalid" id='{{operation}}' class='btn btn-primary' type="radio" ng-model="calculation.operation" value="{{operation}}"
  label for='{{operation}}'
    span ng-disabled="form.$invalid" class="btn btn-inverse" ng-class="{'btn-success': calculation.operation == operation}"
      | {{operation}}
