app.directive 'operationButton', ()->
  {
    restrict: 'E',
    require: '^form',
    scope: {
      operation: '@',
      calculation: '=ngModel'
    },
    templateUrl: "<%= asset_path('directives/operation_button_template.html.slim') %>",
    link: (scope, element, attrs, formCtrl)->
      scope.form = formCtrl
  }
