.row
  .span3.pull-left.left-form-container
    form.form-horizontal.well id='calculationForm' name="calculationForm"  ng-submit="save()" novalidate=""
      fieldset
        legend
          | Calculator 2000
        .small.form-group
          label.control-label for="a" A
          .form-control
            input.small id="a" name="a" ng-model="calculation.a" type="number" ng-min="1" ng-max="99" ng-required="true"
            errors id="errors-a" error-reference="calculationForm.a.$error"
        .small.form-group
          label.control-label for="b" B
          .form-control
            input.small id="b" name="b" ng-model="calculation.b" type="number" ng-min="1" ng-max="99" ng-required="true"
            errors id="errors-b" error-reference="calculationForm.b.$error"
        br/
        .row#operation-selection
          operation-button operation="sum" ng-model='calculation'
          operation-button operation="multiplication" ng-model='calculation'
          br
          operation-button operation="difference" ng-model='calculation'
          operation-button operation="division" ng-model='calculation'

        errors error-reference="calculationForm.operation.$error"

        .form-actions
          center
            button.btn.btn-primary#submit ng-disabled="busy || calculationForm.$invalid"
              | Calculate
  .span3.pull-left
    form.form-horizontal.well
      fieldset
        textarea.large.console id="result" ng-value="" ng-bind="serverResponse()" readonly=""
