window.app = angular.module("calculator", ["ngRoute", "ngResource", "ngMessages"])

app.config ($routeProvider, $locationProvider)->
    $locationProvider.html5Mode(true)
    $routeProvider
    .when("/", { templateUrl: "<%= asset_path("calculations/new.html.slim") %> ", controller: "CalculationsCtrl" })
    .when("/info", { templateUrl: "<%= asset_path("info.html.slim") %> " })
    .otherwise({redirectTo: '/'})


app.config ($httpProvider) ->
    $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content')

$(document).on 'ready page:load', ->
    angular.bootstrap(document, ['calculator'])
