/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require framework_and_overrides
 *= require geo3-bootstrap
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", "Marker Felt", "Purisa", "URW Chancery L", cursive, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ff0;
  background-color: #00f;
}

.small.form-group {
  margin-left: 2px;
  .form-control {
    input {
      width: 120px;
    }
    width: 150px;
  }
  .help-block {
    color: red;
    width: 150px;
    margin-top: 10px;
  }
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #00f;
  border-top: 1px solid #e5e5e5;
}

.operation {
  display: none;
  span {
    display: block;
    width: 80px;
    height: 80px;
    line-height: 50px;
    &:hover {
      color: white;
    }
  }
}

.navbar-header {
  color: #00FF00;
}

.console {
  width: 253px;
  height: 426px;
  background: black;
  color: #00FF00;
  font-family: monoscope;
}

.left-form-container {
  margin-left: 330px;
}

label span.btn:hover {
  color: white;
}

.ng-invalid {
  border-color: red;
  border-width: 2px;
}

.jumbotron {
  background-color: transparent;
  padding-bottom: 0px;
}

.mc-hammers {
  margin: 10px auto;
}

.inline {
  display: inline-block;
}

main {
  background-color: transparent;
}
