.page-header
  h1 Informations about project
center
  = image_tag 'geo3-bootstrap/img/construction.gif'

ul
  li Test methodology: test last. I like TDD however I wasn't confident enough with testing angular to do TDD first
  li Test Coverage 100% (however I don't pay attention to it). Test coverage usually lies :)
  li AngularJS is kind of overkill here but it was fun implementing it. Last time I used it around version ~ 1.0 so a lot for things has changed. It was fun!
  li I would rather not use MVC directory structure inside assets however this project is small enough so MVC approach is more readable
  li Mongoid was a huge timekiller. I used it few times before but for the first time with RSpec. There were a lot of troubles
  li I understood advantage of ActveRecord. There are many things in AR which are not present in Mongoid (for instance 'enum', 'with_lock'). These tools are community built but implementation is buggy and there are no sufficient test matchers
  li Normally I would define Calculation#as_json inside AMS, not Draper decorator. However project is small enough to leave it inside decorator
  li Geo bootstrap (old school styles) is cool! I had to use my own fork and publish it to bower - never done it before. Was fun
  li AngularJS should be tested with Jasmine. Unfortunately I've never done it before and I ran out of time so tests aren't present
  li Calculation Creation use case allows to easily apply 'RailsWay' controller (without JS framework)
  li Two tests are pending. One should be moved to JS tests (Jasmine?). The other one is a mongoid thing which I couldn't solve
  li There are no integrations tests. Specs from there (form validation) I moved to /features because is kind of 'business logic' for this project



