/ navigation styled for Bootstrap 3.0
nav.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      .navbar-header
        button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
        span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        = link_to root_path, class: 'navbar-brand' do
          = image_tag 'geo3-bootstrap/img/hot.gif', class: 'pull-left'
          | Calculator
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          == render 'layouts/navigation_links'
