header.jumbotron.subhead
  .row
    .span6.pull-left
      h1
        = image_tag asset_path('geo3-bootstrap/img/7upspot.gif'), class: 'inline'
        blink
          font color="#FF0000"  W
          font color="#FF5A00"  e
          font color="#FFB400"  l
          font color="#FFff00"  c
          font color="#A5ff00"  o
          font color="#4Bff00"  m
          font color="#00ff00"  e
      p.lead
        | Proudly presented by @bartuz
    .span6
      center
        = image_tag asset_path('geo3-bootstrap/img/yahooweek.gif'), class: 'inline'
        = image_tag asset_path('geo3-bootstrap/img/community.gif'), class: 'inline'
        = image_tag asset_path('geo3-bootstrap/img/noframes.gif'), class: 'inline'
        = image_tag asset_path('geo3-bootstrap/img/notepad.gif'), class: 'inline'
