doctype html
html
  head
    base href="/"
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Calculator'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Calculator'}"
    == stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
  body
    == csrf_meta_tags
    header
      == render 'layouts/navigation'
    main[role="main"]
      .container
        = render 'layouts/welcome'
        = render 'shared/mc_hammer'
        == render 'layouts/messages'
        == yield
